<h1>Your Games </h1>

<% @user.games.each do |game| %>
  <p><%= game.date  %>
  <%=  @user.wins.include?(game.win) ? "You won!" : nil %>
  <%=  @user.losses.include?(game.loss) ? "You lost!" : nil %>
  <%=  @user.draws.include?(game.draw) ? "Draw" : nil %>
  against: <% game.users.each do |user| %> 
    <%= user.name != @user.name ? user.name : nil %> 
  <% end %>
   <a href="games/<%= game.id %>">View Game </a>
  <a href="games/<%= game.id %>/edit">Edit Game </a>
<% end %>